* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

#toy-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-height: 90vh;
    aspect-ratio: 800 / 500;
    max-width: calc(90vh * 800 / 500);
    background-color: #f8ec49;
    border-radius: 8px;
}

#toy-container .toy-section:nth-child(1) {
    flex: 35; /* left book side */
}

#toy-container .toy-section:nth-child(2) {
    flex: 10; /* spine */
    background-color: #5aabf5;
}

#toy-container .toy-section:nth-child(3) {
    flex: 35; /* right panel */
}