/* COLOURS PALETTE */
:root {
  --color-black: #0A0908;
  --color-jet-black: #22333B;
  --color-almond-cream: #EAE0D5;
  --color-khaki-beige: #C6AC8F;
  --color-stone-brown: #5E503F;
}

/* PAGE BEHAVIOUR */
html, body, h1, h2, h3, h4, p, ul { margin: 0; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 1.2rem;
    background-color: var(--color-almond-cream);
}

header, main, footer { width: 100%; }

ul {
    list-style: none;
    padding: 0;
}

a { color: inherit; }

h1 {
    font-size: 4.5rem;
    color: var(--color-almond-cream);
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    text-align: center;
    background-color: var(--color-jet-black);
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3rem;
}

.anime-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding: 0rem 2rem;
    max-width: 82rem;
    color: var(--color-jet-black);
}

.anime-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    /* round corners */
    border-radius: 10px;
    overflow: hidden;
    /* show cursor */
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
    /* background */
    background-color: white;
}

.anime-card:hover {
    transform: scale(1.03);
        box-shadow:
        0 10px 35px rgba(0, 0, 0, 0.2),
        0 0 25px rgba(255, 255, 255, 0.3);
}

.anime-card img {
    width: 100%;
    aspect-ratio: 2 / 3; /* Keeps the vertical aspect ratio locked */
    object-fit: cover;
}

.anime-card h3, 
.anime-card h4, 
.anime-card p {
    margin: 0;
    padding: 0;
}

/* DIALOG / MODAL */
dialog {
    border: none;
    border-radius: 8px;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    box-sizing: border-box;
}

/* Darkens background when modal opens */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 80rem;
    height: 10rem;
    color: var(--color-stone-brown);
}