/* PAGE BEHAVIOUR */
html, body, h1, h2, h3, h4, p, ul { margin: 0; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 1.2rem;
}

header, main, footer {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    text-align: center;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.anime-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding: 0rem 2rem;
    max-width: 82rem;
}

.anime-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    /* round corners */
    border-radius: 10px;
    overflow: hidden;
    /* show cursor */
    cursor: pointer;
}

.anime-card img {
    width: 100%;
    aspect-ratio: 2 / 3; /* Keeps the vertical aspect ratio locked */
    object-fit: cover;
}

.anime-card h3, 
.anime-card h4, 
.anime-card p {
    margin: 0;
    padding: 0;
}

/* DIALOG / MODAL */
dialog {
    border: none;
    border-radius: 8px;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    box-sizing: border-box;
}

/* Darkens background when modal opens */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 80rem;
    height: 8rem;
}